{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <section class="new_movies">
        <h2>Nowości</h2>
        <div class="row">

            {% for newMovie in newMovies %}
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="{{ asset('uploads/images/' ~ newMovie.image)  }}"
                                 alt="Card image cap">
                            <a href="{{ path('movie_show', {'id': newMovie.id}) }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">{{ newMovie.title }}</h4>
                            <!-- Text -->
                            <p class="card-text">{{ newMovie.description|length > 100 ? newMovie.description|slice(0, 100) ~ '...' : newMovie.description }}</p>
                            <!-- Button -->
                            <a href="{{ path('movie_show', {'id': newMovie.id}) }}" class="btn btn-primary">Czytaj
                                więcej</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
            {% endfor %}
        </div>
    </section>



    {#<!-- Section -->#}
    <section class="screening_schedule">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Repertuar</h2>



        <!-- Tab panels -->
        
        <div class="tab">
            {% for day, screenings in currentScreenings %}
               <div class="panel panel-default">
                   <div class="panel-heading text-center"><strong>{{day}}</strong></div>
                
                <div class="panel-body">
                {% for screening in screenings %}
                    <div class="container">
                       
                        
                            <br>
                            {{ screening.startDate|date('d.m') }}
                            
                            {% for movie in screening.movies %}
                                <!-- Grid row -->
                                <div class="row">

                                    <!-- Grid column -->
                                    <div class="col-lg-5 col-xl-4">

                                        <!-- Featured image -->
                                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                                            <img class="img-fluid" src="{{ asset('uploads/images/' ~ movie.image)  }}" alt="Sample image">
                                            <a href="{{ path('movie_show', {'id': movie.id}) }}">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>

                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-lg-7 col-xl-8">

                                        <h3 class="font-weight-bold mb-3"><strong>{{ movie.title }}</strong></h3>

                                        <p class="dark-grey-text">{{ movie.description }}</p>

                                        <p>Godziny seansów</p>

                                        {% for screening in movie.screenings %}
                                            <a href="{{ path('screening_show', {'id': movie.id}) }}"
                                               class="btn btn-elegant">{{ screening.startDate ? screening.startDate|date('H:i') : '' }}</a>
                                        {% endfor %}

                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <hr class="my-5">

                            {% endfor %}

                       </div>
                {%endfor%}
                </div>
                <!--/.Panel 1-->
            {% endfor %}
              
        </div>
        </div>



    </section>
    {#<!-- Section-->#}

{% endblock %}
