{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
    </div>

    <section class="movie">

        <!-- Full Page Intro -->
        <div class="view jarallax movie__hero__container" data-jarallax='{"speed": 0.2}'
             style="background-image: url({{ asset('uploads/images/' ~ movie.image) }}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light">

            </div>
        </div>
        <!-- Mask & flexbox options-->


        <!-- Main navigation -->

        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 text-center">
                    <h1 class="h1-reponsive  text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                        data-wow-delay="0.3s"><strong>{{ movie.title }}</strong></h1>
                    <div class="info mt-5">
                        <p>Gatunek: <span class="highlight">{{ movie.category }}</span></p>
                        <p>Dozwolone od lat: <span class="highlight">{{ movie.age }}</span></p>
                        <p>Ocena: <span class="highlight">{{ movie.grade }}</span></p>
                        <p>Czas trwania <span class="highlight">{{ movie.time|date('H:i') }}</span></p>
                        {#<p>Data premiery <span class="highlight">{{ movie.release_date }}</span></p>#}
                    </div>
                    <hr class="hr-dark my-5 wow fadeInDown" data-wow-delay="0.4s">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <p class="mb-5">{{ movie.description }}</p>

        </div>

        <!-- Full Page Intro -->
    </section>

{% endblock %}