{% extends 'base.html.twig' %}

{% block title %}Seanse{% endblock %}

{% block body %}
    <section class="admin_area">
        <h1 class="admin_area__heading">Seanse</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Godzina rozpoczęcia</th>
                <th>Cena</th>
                <th>Film</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for screening in screenings %}
                <tr>
                    <td><a class="admin_area__highlighted_element" href="{{ path('screening_show', {'id': screening.id}) }}">{{ screening.id }}</a></td>
                    <td>{{ screening.startDate ? screening.startDate|date('d.m.Y') : '' }}</td>
                    <td>{{ screening.startDate ? screening.startDate|date('H:i') : '' }}</td>
                    <td>{{ screening.price }} zł</td>
                    <td>
                        {% for movie in screening.movies %}
                            <a class="admin_area__highlighted_element" href="{{ path('movie_show', {'id': movie.id}) }}">{{ movie.title }}</a><br>
                        {% endfor %}
                    </td>

                    <td class="row">
                        <button class="btn btn-outline-blue" href="{{ path('screening_edit', {'id': screening.id}) }}">Edytuj <i class="fa fa-edit"></i></button>
                        {{ include('screening/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Brak seansów w bazie danych</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-blue" href="{{ path('screening_new') }}">Dodaj seans <i class="fa fa-plus"></i></a>
    </section>
{% endblock %}