{% extends 'base.html.twig' %}

{% block title %}Screening{% endblock %}

{% block body %}
    <h1>Screening</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ screening.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ screening.date ? screening.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hour</th>
                <td>{{ screening.hour }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('screening_index') }}">back to list</a>

    <a href="{{ path('screening_edit', {'id': screening.id}) }}">edit</a>

    {{ include('screening/_delete_form.html.twig') }}
{% endblock %}