{% extends 'base.html.twig' %}

{% block title %}Lista filmów{% endblock %}

{% block body %}

    <div class="hall">

        <input type="hidden" value="{{ screening.getHall().getNumberOfSeatsV() }}" id="rows_number">
        <input type="hidden" value="{{ screening.getHall().getNumberOfSeatsH() }}" id="seats_number">
        <input type="hidden" value="{{ path('reservations_get', {'id': screening.id}) }}" id="reservation_url">

        <div class="alert alert-success hide"></div>

        <h5 class="hall__number">Sala {{ screening.hall }}</h5>


        {% for movie in screening.movies %}

            <h2 class="hall__movie_title">{{ movie.title }}</h2>
            <h5>Godzina rozpoczęcia {{ screening.startDate ? screening.startDate|date('Y-m-d H:i:s') : '' }}</h5>

        {% endfor %}

        <hr>

        <div class="hall__screen">Ekran</div>

        <section id="seats_container" class="seats__container"></section>

        <form id="reservation__form" action="{{ path('reservation_new') }}" method="post">

            <button class="btn btn-primary">Zarezerwuj</button>

        </form>

    </div><!-- hall-->

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('build/js/seats.js') }}"></script>
{% endblock %}

