{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>Surname</th>
                <th>Seat</th>
                <th>Row</th>
                <th>ReservationNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>


                <td>{{ reservation.getId()}}</td>
                <td>{{ reservation.firstname }}</td>
                <td>{{ reservation.surname }}</td>
                <td>{{ reservation.getSeat() }}</td>
                <td>{{ reservation.getRow() }}</td>
                <td>{{ reservation.getReservationNumber() }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}