{% extends 'base.html.twig' %}

{% block title %}Admin site{% endblock %}

{% block body %}
    <section class="admin_area">
        <h1 class="admin_area__heading">Panel administracyjny</h1>
        <div class="text-center">

            Witaj {{ app.user.username }}

            <ul class="list-group">
                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('movie_index') }}">Filmy</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('hall_index') }}">Sale</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('screening_index') }}">Seanse</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('reservation_index') }}">Rezerwacje</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('admin_users') }}">Użytkownicy</a>
                </li>


            </ul>
            <hr>
            <h2>KONTO</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_profile_edit') }}">Edytuj konto</a>
                </li>

                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_change_password') }}">Zmień hasło</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link js-scroll-trigger" href="/logout">Wyloguj</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}