{% extends 'base.html.twig' %}

{% block title %}Admin site{% endblock %}

{% block body %}
    <h1>Admin page</h1>
   <div class="text-center" style="padding:50px 0">
       
       Welcome Admin {{app.user.username}}
       
       <ul class="list-group">
  <li class="list-group-item">
      <a class="nav-link js-scroll-trigger" href="{{ path('movie_index') }}">Filmy</a>
  </li>
  <li class="list-group-item">
       <a class="nav-link js-scroll-trigger" href="{{ path('hall_index') }}">Sale</a>
  </li>
  <li class="list-group-item">
      <a class="nav-link js-scroll-trigger" href="{{ path('screening_index') }}">Seanse</a>
  </li>
  <li class="list-group-item">
      <a class="nav-link js-scroll-trigger" href="{{ path('reservation_index') }}">Rezerwacje</a>
  </li>
  <li class="list-group-item">
      <a class="nav-link js-scroll-trigger" href="/logout">Wyloguj</a>
  </li>
</ul>
</div>
 {% endblock %}