{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <section class="admin_area">
        <h1>Użytkownicy</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa użytkownika</th>
                <th>adres E-mail</th>
                <th>Rola</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            <p>{{ role }}</p>
                        {% endfor %}

                    </td>

                    <td>
                        
                        <a class="btn btn-outline-blue" href="{{ path('admin_user_promote', {'id': user.id}) }}">Ustaw role</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Brak rekordow</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-blue" href="{{ path('fos_user_registration_register') }}">Dodaj nowego użytkownika</a>
    </section>
{% endblock %}