{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Lista filmów</h1>

    <table class="table">
        <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>Id</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {%for role in user.roles%}
                        <p>{{role}}</p>
                    {%endfor%}
                
                </td>
                
                <td>
                   {# <a class="btn btn-dark" href="{{ path('movie_show', {'id': movie.id}) }}">Pokaż</a>
                    <a class="btn btn-dark" href="{{ path('movie_edit', {'id': movie.id}) }}">Edytuj</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Nie znaleziono filmów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">Dodaj nowego użytkownika</a>
{% endblock %}