{% extends 'base.html.twig' %}

{% block title %}Hall index{% endblock %}

{% block body %}
    <h1>Hall index</h1>

    <table class="table">
        <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>Id</th>
            <th>Numer sali</th>
            <th>Ilość rzędów</th>
            <th>Ilość miejsc</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for hall in halls %}
            
            <tr>
                <td>{{ hall.id }}</td>


                <td>{{ hall.getHallNumber }}</td>
                <td>{{ hall.getNumberOfSeatsV }}</td>
                <td>{{ hall.getNumberOfSeatsH }}</td>


        {#<td>{{ hall.numberOfSeatsV }}</td>#}
                {#<td>{{ hall.numberOfSeatsH }}</td>#}
                {#<td>{{ hall.hallNumber }}</td>#}


                <td>
                    <a class="btn btn-dark" href="{{ path('hall_show', {'id': hall.id}) }}">Pokaż</a>
                    <a class="btn btn-dark" href="{{ path('hall_edit', {'id': hall.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak sal do wyświetlenia</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('hall_new') }}">Dodaj sale</a>
{% endblock %}