{% extends 'base.html.twig' %}

{% block title %}Hall{% endblock %}

{% block body %}
    <h1>Hall</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hall.id }}</td>
            </tr>
            <tr>
                <th>Number_of_seats_v</th>
                <td>{{ hall.getNumberOfSeatsV }}</td>
            </tr>
            <tr>
                <th>Number_of_seats_h</th>
                <td>{{ hall.getNumberOfSeatsH }}</td>
            </tr>
            {#<tr>#}
                {#<th>Hall_number</th>#}
                {#<td>{{ hall.getHallNumber }}</td>#}

                {#<td>{{ hall.numberOfSeatsV }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Number_of_seats_h</th>#}
                {#<td>{{ hall.numberOfSeatsH }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Hall_number</th>#}
                {#<td>{{ hall.hallNumber }}</td>#}

            {#</tr>#}
        </tbody>
    </table>

    <a href="{{ path('hall_index') }}">back to list</a>

    <a href="{{ path('hall_edit', {'id': hall.id}) }}">edit</a>

    {{ include('hall/_delete_form.html.twig') }}
{% endblock %}